<div class="container">

<h1>Home</h1>
<div class="row">
  <%=link_to "Create a new folder", new_folder_path%>
</div>

<div class="row">
  <%= link_to "Create new file", new_folder_file_path%>
</div>

</div>